
#shortcuts {
	display: block;
	position: relative;
	height: 29px;
	overflow: visible;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #555555;
	background: url("../img/content-h1.gif") bottom repeat-x;
}

#shortcuts a,
#shortcuts span {
	text-decoration: none;
	color: #000000;
	display: block;
	padding: 5px 8px;
	color: #ccc;
	background-position: center top;
	cursor:pointer;
	margin: 0px 4px;
}
#shortcuts a:hover,
#shortcuts span:hover {
	background-position: center bottom;
	color: #ffffff;
	cursor: pointer;
}

/* first level menu */
#shortcuts > ul {
	display: block;
	margin: 0px;
	overflow: visible;
}

#shortcuts > ul > li {
	display: block;
	
	float: left;
	color: #dddddd;
	background-image: none;
	border-right: 1px solid #555;
	height: 29px;
	overflow: visible;
	padding: 0px;
}
#shortcuts > ul > li.active {
	background-color: #000000;
}
#shortcuts > ul > li.active > a {
	opacity: 1.0;
	filter: alpha(opacity=100);
	color: #ffffff;
}

/* second level */
#shortcuts > ul > li > ul {
	display: none;
	position: absolute;
	margin: 0px;
}
#shortcuts > ul > li > ul > li {
	display: block;
	position: relative;
	background-image: none;
	margin: 0px;
	padding: 0px;
	background: url("../img/content-h1.gif") bottom repeat-x;
}


#shortcuts  ul  li  a.create:before,
#shortcuts  ul  li  span.create:before {
	content: "";
	float: left;
	width: 15px;
	height: 15px;
	margin: 0px 5px 0px 0px;
	background-image: url('../img/plus_icon2.png');
	background-position: center center;
	background-repeat: no-repeat;
}

#shortcuts  ul  li .parent:after {
	content: "";
	float: right;
	width: 10px;
	height: 20px;
	margin: 0px 0px 0px 5px;
	background-image: url('../img/shortcuts_arrows2.png');
	background-position: left center;
	background-repeat: no-repeat;
}


#content > h1:first-child {
	padding: 5px 15px;
	font-size: 150%;
	letter-spacing: 0px;
	font-weight: normal;
}



/**************************************
 colorful crud forms                 */
form.color-rows .row.even {
	background-color: #e6e6e6;
	border-radius: 10px;
}

form.active-form .row {
	display: block;
	overflow: hidden;
	clear: both;
	padding: 10px;
}

form.active-form .row label {
	display: block;
	float: left;
	width: 150px;
	text-align: right;
	padding: 3px 10px 3px 3px;
}

form.active-form .row input[type="text"],
form.active-form .row input[type="password"] {
	display: block;
	float: left;
	margin: 0px;
	padding: 3px;
	width: 300px;
	border: 2px solid #c6c6c6;
	height: 23px;
}

form.active-form .row .errorMessage {
	display: block;
	float: left;
	margin: 0px 0px 0px 10px;
}

form.active-form .row .success {
	display: none;
}
form.active-form .row.success .success {
	display: block;
	width: 16px;
	height: 33px;
	margin: 0px 0px 0px 10px;
	float: left;
	background-image: url('../img/ico-done.gif');
	background-position: center;
	background-repeat: no-repeat;
}

form.active-form .row.radio > span {
	display: block;
	float: left;
}
form.active-form .row.radio > span p {
	display: block;
	overflow: auto;
	margin: 0px;
}
form.active-form .row.radio input[type="radio"] {
	display: block;
	float: left;
	height: 25px;
}
form.active-form .row.radio span label {
	text-align: left;
	margin: 0px 0px 0px 10px;
}


form.active-form .row.checkbox {
	
}
form.active-form .row.checkbox input {
	display: block;
	float: left;
	height: 33px;
}


.row.buttons {
	
}
.row.buttons input {
	display: block;
	float: right;
	padding: 5px 10px;
	margin: 0px 10px 0px 0px;
}
.row.buttons input:first-child {
	margin: 0px 30% 0px 0px;
}

.row.radio-button span {
	display: block;
	float: left;
}


form.active-form .errorSummary {
	display: block;
	border: 2px solid #FFAEAE;
	background-color: #FEEBEB;
	padding: 5px 10px 0px 10px;
	margin: 0px 0px 20px 0px;
}
form.active-form .errorSummary p {
	margin: 5px 0px 10px 0px;
}
#content form.active-form .errorSummary ul {
	margin: 5px 0px 10px 15px;
}


#content .content-submenu {
	display: block;
	position: relative;
	height: 20px;
	overflow: visible;
	text-align: right;
}

#content .content-submenu .submenu.button {
	width: 100%;
	margin: auto;
	background: none;
	border: none;
}

#content .content-submenu .parent.button {
	padding: 2px 6px;
	background-color: #252525;
	color: #fff;
	border-radius: 10px;
	cursor: pointer;
	width: auto;
	border-width: 1px;
}
#content .content-submenu .parent.button:hover {
	background-color: #555;
}

#content .content-submenu .content-submenu-sub {
	background-color: #ddd;
	position: relative;
	overflow: auto;
	padding: 4px 4px;
	z-index: 100;
	border-radius: 10px;
	display: none;
}
#content .content-submenu .content-submenu-sub input.button {
	display: block;
	position: relative;
	float: right;
	clear: both;
	margin: 3px 0px;
	padding: 4px 2px;
	cursor: pointer;
}
#content .content-submenu .content-submenu-sub input.button:hover {
	background-color: #aaa;
}

.separator {
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	background-color: #ccc;
	
}

#content .question-set-wrapper {
	display: block;
	position: relative;
	padding: 0px 0px 100px 0px;
}

#content .question-set-wrapper div {
	
}

#content .question-set-title {
	margin: 0px 0px 5px 0px;
	font-size: 180%;
}

#content .question-set-description {
	margin: 5px 0px 0px 0px;
}

#content .question-group-wrapper {
	display: block;
	position: relative;
	margin: 15px 0px 0px 0px;
}

#content .question-group-title {
	margin: 0px;
	color: #0085CC;
}

#content .questions-wrapper {
	margin: 10px 0px 0px 10px;
}

#content .question {
	margin: 5px 0px 5px 0px;
}

#content .question.errors {
	background-color: #f76f6f;
}



#content .answer-form .question {
	display: block;
	margin: 10px 20px 20px 20px;
	background-color: #E6E6E6;
	padding: 20px;
}

.dot {
	display: block;
	float: left;
	width: 8px;
	height: 8px;
	border-radius: 4px;
	margin: 5px 8px 0px 0px;
}

.dot.grey {
	background-color: #888;
}
.dot.green {
	background-color: #71D972;
}


#content .question-table {
	width: 100%;
	border: none;
}
#content .question-table td {
	border: none;
}
#content .question-table tr:hover {
	background-color: #eee;
}
#content .question-table .question-number {
	width: 20px;
}
#content .question-table .question-question {
	
}
#content .question-table .position-body {
	cursor: pointer;
}
#content .question-table .position-description {
	background-color: #ddd;
	display: none;
	padding: 5px;
}
#content .question-table .question-menu {
	width: 130px;
}


.grid-view .description > div {
	max-height: 28px;
	overflow: hidden;
}
.grid-view .description > div.visible {
	max-height: none;
	overflow: hidden;
}




#content .score-test {
	
}

#content .score-test .question {
	display: block;
	overflow: auto;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	border-bottom: 1px solid #ccc;
}

#content .score-test .answer {
	margin: 5px 0px 0px 10px;
}

#content .score-test .question-body {
	display: block;
	width: 100%;
}

#content .score-test .score {
	display: block;
	float: right;
}

#content .score-test {
	
}

.score-test .question-body .answer {
	
}
.score-test .question-body .answer.selected.wrong {
	background-color: #f76f6f;
}
.score-test .question-body .answer.selected.correct {
	background-color: #BBDF8D;
}




.homepage {
	width: 740px;
	margin: 0px auto;
}
.homepage .item {
	display: block;
	float: left;
	text-align: center;
	margin: 10px 10px;
}
.homepage .item img {
	display: block;
	cursor: pointer;
	width: 128px;
	height: 128px;
	opacity: 0.9;
}
.homepage .item img:hover {
	opacity: 1.0;
}